:root {
    --azulBackground: #1876f2;
    --gbFundo: #f2f2f2;
}

nav {
    border-bottom: #707070;
    box-shadow: 0px -5px 20px #CFCFCF;
}

/* #A8A8A8 */
.navbar {
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
}

.bg-light {
    background-color: #FFFFFF !important;
}

.le,
.lc,
.ld {
    display: flex;
    align-items: center;
    justify-content: center;
}

.in-search {
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    margin-left: 5px;
    height: 40px;
    background-color: #f0f2f5;
}

.in-search input {
    outline: 0;
    border: none;
    min-width: 200px;
}

.lc img {
    width: 28px;
}

.lc a,
.ld {
    cursor: pointer;
    padding: 11px 35px 10px 35px;
}

.opc:hover {
    background-color: #f2f2f2;
    border-radius: 10px;
}


.opc-selected {
    border-bottom: 3px solid #2379e5;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px 2px 5px;

    cursor: pointer;
}

.profile:hover {
    background-color: #f2f2f2;
    border-radius: 20px;
}

.ld .profile p {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 0;
    padding-left: 10px;
}

.ld .profile img {
    width: 28px;
    height: 28px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

button {
    border: none;
}

.menus {
    width: 32px;
    height: 32px;
    background-color: #e7e9ed;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
}

.ld button svg {
    width: 1em;
    height: 1em;
}
.ld button svg:hover {
    background-color: #e0e2e6;
    color: var(--azulBackground);
}
.modal-dialog {
    margin-top: 0;
    margin-left: 0;
    max-width: 320px;
}

.modal-content {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 10px 50px #888888;
    padding: 0 5px 0 5px;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-cabecalho button {
    background-color: transparent;
}

.modal-cabecalho button img {
    width: 25px;
}

.modal-corpo {
    margin-top: 20px;
    color: #a7a7a7;
    width: 100%;
}

.modal-dialog-data {
    position: absolute;
    top: 50px;
    right: 45px;
    min-width: 350px;
}

.ft-perfil{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.desc-perfil p {
    font-size: 0.94em;
    font-weight: 400;
    color: #797979;
    font-family: Arial, Helvetica, sans-serif;
}
.desc-perfil .name-profile {
    font-size: 1em;
    font-weight: 700;
    color: black;
}

.modal-body .opc {
    cursor: pointer;
}

hr {
    margin: 5px;
}

.menu-opc {
    width: 32px;
    height: 32px;
    background-color: #e7e9ed;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
}

.menu-opc:hover {
    background-color: #e0e2e6;
}

.menu-opc img {
    width: 20px;
    height: 20px;
}

.text-muted {
    font-size: 13px;
}

.coluna {
    height: 40px;
}

.img-perfil {
    border-radius: 20px;
}

.list-pesquisas-cabecalho {
    margin: 0;
}

.list-pesquisas-cabecalho h3 {
    color: #0c0c0c;
    font-size: 18px;
    margin: 0;
}

.list-pesquisas-cabecalho button {
    color: #0077ff;
    background-color: transparent;
}

.list-pesquisas-cabecalho button:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
}

#tabela-pesquisas button {
    border-radius: 50px;
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#tabela-pesquisas img {
    width: 20px;
}

#tabela-pesquisas tbody tr {
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
}

#tabela-pesquisas th {
    width: 35px;
    height: 35px;
}

#tabela-pesquisas td {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px;
}

#tabela-pesquisas tr:hover {
    background-color: #dadada;
}

.qtd-notificacoes {
    position: absolute;
    margin-left: 45px;
    top: 12;
    font-size: 11px;
}

.dropdown-toggle::after {
    display: none;
}
#dpOPC {
    left: -310;

}
#dpOPC  {
    min-width: 350px;
}
.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.dropdown-item:active, .dropdown-item:hover {
    background-color: var(--gbFundo);
}
.dropdown-item p {
    margin: 0;
    text-indent: 10px;
}