#modalCriarPub .modal-dialog {
    margin-top: 5%;
    margin-left: auto;
    max-width: 500px;
}

#modalCriarPub .modal-cabecalho h3 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#modalCriarPub .cabecalho-modal-perfil {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#modalCriarPub .cabecalho-modal-perfil img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
#modalCriarPub .cabecalho-modal-perfil h5{
    text-indent: 1px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #050505;
    font-weight: bold;
}
#modalCriarPub .cmp-postagem textarea {
    font-size: 20px;
    border: none;
    height: 100px;
    resize: none;
}

#modalCriarPub .cmp-postagem .form-control:focus{
    box-shadow:none;
}
.menu-opc-publicacoes {
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 0 3px 0 3px;
    padding: 10px;
}
.menu-opc-publicacoes p {
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin: 0;
}

.opc-btn-pub input{
    display: none;
}

.opc-btn-pub label img{
    width: 28px;
    height: 28px;
}

.opc-btn-pub label {
    cursor: pointer;
}
