@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.bg {
    background-color: #f0f2f5;
}

.cmp-login {
    width: 100%;

    padding-top: 8%;
    padding-left: 2%;

    display: flex!important;
    align-items: center!important; 
    justify-content: center!important;

}

.cmp-login-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

h3 {
    font-family: 'Bitter', serif;
    font-weight: 600;
    text-align: start;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.box-login {
    width: 450px;
    height: 340px;

    background-color: white;

    margin-top: 25px;
    margin-bottom: 25px;

    border-radius: 10px;
    box-shadow: 0px 0px 20px #CFCFCF;
    border: none;
    padding-top: 3px;

    text-align: center;
}
.box-login-erro {
    width: 450px;
    height: 370px;

    background-color: white;

    margin-top: 25px;
    margin-bottom: 25px;

    border-radius: 10px;
    box-shadow: 0px 0px 20px #CFCFCF;
    border: none;
    padding-top: 3px;

    text-align: center;
}

.campo-dados {
    display: block;
    width: 410px;
    margin: 20px;

    border-radius: 6px;
    border: 1px solid #CFCFCF;

    padding: 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    letter-spacing: 0.5px;
}
.campo-dados::placeholder{
    color: #9C9C9C;
}
.campo-dados:focus::placeholder{
    color: #CFCFCF;
}
.campo-dados:focus{
    
    outline: 0;
    border-color: #1877f2;
    caret-color: #1877f2;
}

.btn-logar {
    display: block;
    width: 410px;
    margin: 0px 20px 0px 20px;

    font-size: 20px !important;
    font-weight: 500 !important;
}

#pg-home {
    margin: 0;
    padding-bottom: 0;
    
    text-decoration: none!important;
    border: none;
}

a {
    margin: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none !important;

    font-size: 15px;

    color: #1877f2 !important;
    border-bottom: 1px solid #CFCFCF;
}

a:hover {
    color: #1877f2 !important;
    text-decoration: underline !important;
}

.btn-success {
    background-color: #42b72a !important;
    border: #42b72a !important;

    width: 200px;
    margin: 0px 20px 0px 20px;

    font-size: 18px !important;
    font-weight: 500 !important;

}

.btn-success:hover {
    background-color: #359b21 !important;
    border: #359b21 !important;
}

.centralizar {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.link-simples {
    padding-bottom: 5px;
    display: inline;

    padding: 0;
    margin: 0;
    text-decoration: none !important;

    font-size: 14px;
    font-weight: 600;

    color: black!important;
    border:none;
}
.link-simples:hover {
    color: black!important;
}
p {
    display: inline;
    font-size: 14px;
}
#criar-conta-basic {
    display: inline;
    width: 100px!important;
    font-family: Helvetica, sans-serif;
}
.login-invalido:focus, .login-invalido{
    outline: 0;
    border-color: #c50f0f;
    caret-color: black;
}
.alerta-login {
    display: flex;
    color: #c50f0f;
    margin-left: 20px;
    justify-content: start;
    align-items: center;

    font-size: 15px;
    font-weight: 500;
}
.modCad {
    display: flex;
    align-items: flex-start!important;
}
.modal-footer {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.txt-desc {
    display: flex;

    text-align: justify;
    padding-left: 25px;
    padding-right: 35px ;
    font-size: 12px;
    color: #3f3f3f;
}